<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/es-module-shims@1.7.1/dist/es-module-shims.js"></script>
    <script src="https://unpkg.com/aframe@1.0.4/dist/aframe-v1.0.4.min.js"></script>
    <script src="https://unpkg.com/ar.js@2.2.2/aframe/build/aframe-ar.min.js"></script>
    <script src="https://unpkg.com/reconnecting-websocket@4.4.0/dist/reconnecting-websocket-iife.min.js"></script>
    <script src="https://unpkg.com/aframe-text-geometry-component@0.5.1/dist/aframe-text-geometry-component.min.js"></script>
    <script src="https://unpkg.com/aframe-curve-component/dist/aframe-curve-component.min.js"></script>

    <script type="module">
      import { createApp, reactive } from "https://unpkg.com/petite-vue?module";
      const pol2car = (a, r) => {
        return {
          x: Math.cos((a - 90) * (Math.PI / 180)) * r,
          y: Math.sin((a - 90) * (Math.PI / 180)) * r,
        };
      };
      const shuffle = (arr) => {
        return arr.sort(() => Math.random() - 0.5);
      };
      const any = (arr) => shuffle(arr)[0];

      const random = (from = 0, to = 1) => from + Math.random() * (to - from);
      const randomInt = (min = 0, max = 1) => Math.floor(random(min, max));

      const range = (from, to, step = 1) => {
        const length = Math.floor((to - from) / step) + 1;
        return Array.from({ length }).map((_, i) => from + i * step);
      };

      const m =
        "The bräd narrative  of Hitchhiker  föllows the misõdventures  of the löst surviving  man, Arthur Dent,  following the demolition  of the Earth  by a Vogon constructor  fleet to make  way for a hyperspace  bypass. Dent is  rescued from Earth's  destruction by Ford  Prefect—a human-like  alien writer  for the eccentric,  electronic travel  guide The Hitchhiker's  Guide to the Galaxy—by  hitchhiking onto  a passing Vogon  spacecraft. Following  his rescue, Dent  explores the galaxy  with Prefect and  encounters Trillian,  another human  who had been taken  from Earth (before  its destruction)  by the two-headed  President of the Galaxy  Zaphod Beeblebrox  and the depressed Marvin,  the Paranoid Android.  Certain narrative  details were changed  among the various  adaptations.".split(
          "  "
        );

      const replace = (str) =>
        str
          .replace(/Õ/g, "6")
          .replace(/Ä/g, "2")
          .replace(/Ö/g, "8")
          .replace(/Ü/g, "y")
          .replace(/õ/g, "6")
          .replace(/ä/g, "2")
          .replace(/ö/g, "8")
          .replace(/ü/g, "y");

      const data = reactive({ z: -10, message: "Hello", items: [], m });
      data.items = Array.from({ length: 4 }).map((_) => ({
        angle: random(-80, 80),
        distance: random(-5, -15),
        tilt: random(-10, 10),
      }));

      createApp({ data, fn: { random, replace } }).mount();

      const socket = new WebSocket("wss://data.elektron.art");
      socket.addEventListener("message", (event) => {
        const message = JSON.parse(event.data);
        if (message.channel == "amfr" && message.value.startsWith("/imagine")) {
          const item = {
            value: message.value.replace("/imagine", ""),
            angle: random(0, 36),
            distance: random(-5, -15),
            tilt: random(-1, 1),
          };
          data.items.push(item);
        }
      });
    </script>
  </head>

  <body style="margin: 0; overflow: hidden">
    <a-scene
      vr-mode-ui="enabled: false"
      embedded
      arjs="sourceType: webcam; debugUIEnabled: false;"
    >
      <a-assets>
        <a-asset-item
          id="optimerBoldFont"
          src="https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json"
        ></a-asset-item>
      </a-assets>
      <a-light type="point" color="white" position="0 0 0"></a-light>
      <a-curve id="track1">
        <a-curve-point
          v-for="i in 20"
          :position="{x: fn.random(-3,3),y: fn.random(-3,3),z: fn.random(-3,3)}"
        ></a-curve-point>
      </a-curve>
      <!-- <a-entity :position="{x: -1, y: 2, z: -15}">
        <a-draw-curve
          curveref="#track1"
          material="shader: line; color: red;"
        ></a-draw-curve>
      </a-entity> -->
      <!-- <a-entity
        :text-geometry="{value: 'Please\nremember\nme'}"
        :position="{x: -1, y: 2, z: -15}"
        :rotation="{x: 0, y: -30, z: 0}"
        scale="3 3 3"
        material="color: white"
      ></a-entity> -->
      <a-entity v-for="item,i in 20" :rotation="{x: 0, y: 0, z: 0 }">
        <a-entity :position="{x: (i - 10) * 1.5, y: 1.5, z: -10 }">
          <!-- <a-entity
            material="color: black; opacity: 0.5;"
            geometry="primitive: box; depth: 0.1; width: 2; height: 2"
            position="0 0 0"
            opacity="0.5"
          >
          </a-entity> -->
          <a-entity
            position="1.75 0.7 1"
            :text="{anchor: 'left', baseline: 'top', width: 3, lineHeight: 50, color: 'white', value: fn.replace(data.m.slice(0,i + 1).join('\n'))}"
          >
          </a-entity>
        </a-entity>
      </a-entity>
    </a-scene>
  </body>

  <style>
    body {
      color: white;
      font-family: sans-serif;
    }
  </style>
</html>
