<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/es-module-shims@1.7.1/dist/es-module-shims.js"></script>
    <script src="https://unpkg.com/aframe@1.0.4/dist/aframe-v1.0.4.min.js"></script>
    <script src="https://unpkg.com/ar.js@2.2.2/aframe/build/aframe-ar.min.js"></script>
    <script src="https://unpkg.com/reconnecting-websocket@4.4.0/dist/reconnecting-websocket-iife.min.js"></script>
    <script src="https://unpkg.com/aframe-text-geometry-component@0.5.1/dist/aframe-text-geometry-component.min.js"></script>
    <script src="https://unpkg.com/aframe-curve-component/dist/aframe-curve-component.min.js"></script>

    <script type="module">
      import { createApp, reactive } from "https://unpkg.com/petite-vue?module";
      const pol2car = (a, r) => {
        return {
          x: Math.cos((a - 90) * (Math.PI / 180)) * r,
          y: Math.sin((a - 90) * (Math.PI / 180)) * r,
        };
      };
      const shuffle = (arr) => {
        return arr.sort(() => Math.random() - 0.5);
      };
      const any = (arr) => shuffle(arr)[0];

      const random = (from = 0, to = 1) => from + Math.random() * (to - from);
      const randomInt = (min = 0, max = 1) => Math.floor(random(min, max));

      const range = (from, to, step = 1) => {
        const length = Math.floor((to - from) / step) + 1;
        return Array.from({ length }).map((_, i) => from + i * step);
      };
      const replace = (str) =>
        str
          .replace(/Õ/g, "6")
          .replace(/Ä/g, "2")
          .replace(/Ö/g, "8")
          .replace(/Ü/g, "y")
          .replace(/Š/g, "Sh")
          .replace(/Ž/g, "Zh")
          .replace(/õ/g, "6")
          .replace(/ä/g, "2")
          .replace(/ö/g, "8")
          .replace(/ü/g, "y")
          .replace(/š/g, "sh")
          .replace(/ž/g, "zh");

      const remap = (value, start1, stop1, start2, stop2) => {
        return (
          ((value - start1) / (stop1 - start1)) * (stop2 - start2) + start2
        );
      };
      const data = reactive({ z: -10, message: "Hello", items: [] });
      const channel = "amfr";
      const url =
        "https://data.elektron.art/api/messages?sort[0]=datetime%3Aasc&filters[type][$eq]=CHAT&filters[channel][$eq]=" +
        channel;

      const replaceValue = (value) => {
        if (value.startsWith("/whisper")) {
          return "Remember " + value.replace("/whisper", "");
        }
        if (value.startsWith("/imagine")) {
          return "Remember " + value.replace("/imagine", "");
        }
        return null;
      };

      fetch(url)
        .then((res) => res.json())
        .then(({ data: historicData }) => {
          data.items = historicData.map(({ attributes: d }) => ({
            value: replaceValue(d.value),
            angle: random(-180, 180),
            distance: random(-4, -5),
            tilt: random(-1, 1),
            height: random(0, 30),
          }));
        });

      createApp({ data, fn: { random, replace, remap } }).mount();

      const socket = new WebSocket("wss://data.elektron.art");
      socket.addEventListener("message", (event) => {
        const message = JSON.parse(event.data);
        if (message.channel == "amfr") {
          const value = replaceValue(message.value);
          if (value) {
            const item = {
              value,
              angle: random(0, 36),
              distance: random(-5, -15),
              tilt: random(-1, 10),
            };
            data.items.push(item);
          }
        }
      });
    </script>
  </head>

  <body style="margin: 0; overflow: hidden">
    <!-- <div
      v-for="item,i in data.items"
      :id="'htmlElement' + i"
      style="
        width: 1000px;
        height: 2000px;
        position: fixed;
        left: 0;
        top: 0;
        overflow: hidden;
        z-index: -100;
        pointer-events: none;
      "
    >
      <div style="font-size: 150px; text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5)">
        {{ item.value }}
      </div>
    </div> -->
    <a-scene
      vr-mode-ui="enabled: false"
      embedded
      arjs="sourceType: webcam; debugUIEnabled: false;"
    >
      <a-assets>
        <a-asset-item
          id="optimerBoldFont"
          src="https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json"
        ></a-asset-item>
      </a-assets>
      <a-light type="point" color="white" position="0 0 0"></a-light>
      <a-curve id="track1">
        <a-curve-point
          v-for="i in 20"
          :position="{x: fn.random(-3,3),y: fn.random(-3,3),z: fn.random(-3,3)}"
        ></a-curve-point>
      </a-curve>
      <!-- <a-entity :position="{x: -1, y: 2, z: -15}">
        <a-draw-curve
          curveref="#track1"
          material="shader: line; color: red;"
        ></a-draw-curve>
      </a-entity> -->
      <!-- <a-entity :position="{x: 0, y: -5, z: -10 }">
        <a-entity
          v-for="letter,i in 'Remember'.split('')"
          :text-geometry="{value: letter}"
          :position="{x: (i * 2.5 - 10) + fn.random(-0.25,0.25), y: -2, z: fn.random(-14,-16)}"
          :rotation="{x: 0, y: fn.random(-30,30), z: 0}"
          scale="5 5 5"
          material="color: white"
        ></a-entity
      ></a-entity> -->
      <a-entity
        v-for="item,i in data.items"
        :rotation="{x: item.tilt, y: item.angle * 100, z: 0 }"
      >
        <a-entity
          :position="{x: 0, y: item.height, z: i === (data.items.length - 1) ? -6 : item.distance }"
        >
          <!-- <a-entity
            material="color: black; opacity: 0.5;"
            geometry="primitive: box; depth: 0.1; width: 2; height: 2"
            position="0 0 0"
            opacity="0.5"
          >
          </a-entity> -->
          <!-- <a-entity
            position="1.75 0.7 0.95"
            :text="{opacity: 0.2,width: 5, lineHeight: 50, color: 'black', value: '' + fn.replace(item.value)}"
          > 
          </a-entity>-->
          <a-entity
            :position="{x: 1.75,y: 0.7,z: 1}"
            :text="{opacity: fn.remap(i,0,data.items.length -1, 0.9,0.9), width: 5, lineHeight: 50, color: i === (data.items.length - 1) ? 'yellow' : 'white', value: fn.replace(item.value)}"
          >
          </a-entity>
        </a-entity>
      </a-entity>
    </a-scene>
  </body>

  <style>
    body {
      color: white;
      font-family: sans-serif;
    }
  </style>
</html>
