<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/es-module-shims@1.7.1/dist/es-module-shims.js"></script>
    <script src="https://unpkg.com/aframe@1.0.4/dist/aframe-v1.0.4.min.js"></script>
    <script src="https://unpkg.com/ar.js@2.2.2/aframe/build/aframe-ar.min.js"></script>
    <script src="https://unpkg.com/reconnecting-websocket@4.4.0/dist/reconnecting-websocket-iife.min.js"></script>
    <script src="https://unpkg.com/aframe-text-geometry-component@0.5.1/dist/aframe-text-geometry-component.min.js"></script>
    <script src="https://unpkg.com/aframe-curve-component/dist/aframe-curve-component.min.js"></script>
    <script src="https://unpkg.com/aframe-sprite-particles-component@^0.5.4/aframe-sprite-particles-component.js"></script>

    <script type="module">
      import { createApp, reactive } from "https://unpkg.com/petite-vue?module";
      const pol2car = (a, r) => {
        return {
          x: Math.cos((a - 90) * (Math.PI / 180)) * r,
          y: Math.sin((a - 90) * (Math.PI / 180)) * r,
        };
      };
      const shuffle = (arr) => {
        return arr.sort(() => Math.random() - 0.5);
      };
      const any = (arr) => shuffle(arr)[0];

      const random = (from = 0, to = 1) => from + Math.random() * (to - from);
      const randomInt = (min = 0, max = 1) => Math.floor(random(min, max));

      const range = (from, to, step = 1) => {
        const length = Math.floor((to - from) / step) + 1;
        return Array.from({ length }).map((_, i) => from + i * step);
      };
      const replace = (str) =>
        str
          .replace(/Õ/g, "6")
          .replace(/Ä/g, "2")
          .replace(/Ö/g, "8")
          .replace(/Ü/g, "y")
          .replace(/Š/g, "Sh")
          .replace(/Ž/g, "Zh")
          .replace(/õ/g, "6")
          .replace(/ä/g, "2")
          .replace(/ö/g, "8")
          .replace(/ü/g, "y")
          .replace(/š/g, "sh")
          .replace(/ž/g, "zh");

      const remap = (value, start1, stop1, start2, stop2) => {
        return (
          ((value - start1) / (stop1 - start1)) * (stop2 - start2) + start2
        );
      };
      //const particles =
      ("spawnRate: 1; lifeTime: 30; trailLifeTime: 10; velocity: -0.5 1 0..0.5 1 0; acceleration: 0 -0.5 0; trailInterval: 0.03; opacity: 0.5; color: white; scale: 1,0.5; texture: #blob;");
      const particles =
        "trailInterval: 0.03; trailLifeTime: 10; seed: 0.5; radialType: sphere; radialPosition: 1; orbitalVelocity: 20; lifeTime: 4..6; spawnRate: 10; texture: #blob; color: yellow, white; opacity: 1,0; particleSize: 50;";
      const data = reactive({
        particles,
        zoom: 0,
        maxZoom: 25,
        message: "Hello",
        items: [],
      });
      const channel = "amfr";
      const url =
        "https://data.elektron.art/api/messages?sort[0]=datetime%3Aasc&filters[type][$eq]=CHAT&filters[channel][$eq]=" +
        channel;

      const replaceValue = (value) => {
        if (value.startsWith("/whisper")) {
          return "Remember " + value.replace("/whisper", "");
        }
        if (value.startsWith("/imagine")) {
          return "Remember " + value.replace("/imagine", "");
        }
        return null;
      };

      fetch(url)
        .then((res) => res.json())
        .then(({ data: historicData }) => {
          data.items = historicData.map(({ attributes: d }) => ({
            value: replaceValue(d.value),
            angle: random(-180, 180),
            distance: random(-4, -5),
            tilt: random(-1, 1),
            height: random(0, 30),
          }));
        });

      createApp({ data, fn: { random, replace, remap } }).mount();

      const socket = new WebSocket("wss://data.elektron.art");
      socket.addEventListener("message", (event) => {
        const message = JSON.parse(event.data);
        if (message.channel == "amfr") {
          const value = replaceValue(message.value);
          if (value) {
            const item = {
              value,
              angle: random(0, 36),
              distance: random(-5, -15),
              tilt: random(-1, 10),
            };
            data.items.push(item);
          }
        }
      });
    </script>
  </head>

  <body style="margin: 0; overflow: hidden">
    <a-scene
      vr-mode-ui="enabled: false"
      embedded
      arjs="sourceType: webcam; debugUIEnabled: false;"
    >
      <a-assets>
        <a-asset-item
          id="optimerBoldFont"
          src="https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json"
        ></a-asset-item>
        <img id="blob" src="blob.png" />
      </a-assets>
      <a-light type="point" color="white" position="0 0 0"></a-light>
      <a-entity position="0 0 -8" rotation="90 0 0">
        <a-entity <a-entity :sprite-particles="data.particles"></a-entity>
      </a-entity>
    </a-scene>
    <input
      type="text"
      v-model="data.particles"
      style="position: fixed; top: 10px; left: 10px; right: 10px; padding: 10px"
    />
    <input
      type="range"
      v-model="data.zoom"
      :max="data.maxZoom"
      step="any"
      style="
        position: fixed;
        top: 30px;
        right: 30px;
        display: block;
        rotate: -90deg;
        transform-origin: 0 0;
        translate: 350px 350px;
        width: 350px;
      "
    />
  </body>

  <style>
    body {
      color: white;
      font-family: sans-serif;
    }
    input[type="range"] {
      display: block;
      -webkit-appearance: none;
      background-color: rgba(255, 255, 255, 0.7);
      height: 1px;
      position: relative;
      outline: none;
      width: 100%;
      margin: 16px 0;
    }
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: rgba(255, 255, 255, 0.7);
      height: 32px;
      width: 32px;
      border-radius: 1000px;
      background: white;
      cursor: pointer;
    }
  </style>
</html>
